.modifyPostModal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

.modifyPostModal{
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;

    .content {
      display: flex;
      flex-direction: column;
      width: 250px;

      p {
        margin: 0;
        padding: 0;
        color: #3D3D3D;
      }

      .inputForm {
        margin-bottom: 20px;
        input {
          width: 250px;
          padding: 5px;
          border: none;
          border-bottom: 1px solid #dbdbdb;
          &:focus {
            outline: none;
          }
        }

        textarea {
          box-sizing: border-box;
          padding: 10px;
          margin-top: 10px;
          resize: none;
          width: 250px;
          height: 100px;
          border: 1px solid #dbdbdb;
          border-radius: 3px;

          &:focus {
            outline: none;
          }
        }
      }

      .categoryBox {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-bottom: 10px;
        button {
          margin: 0 4px;
          width: 80px;
          border: none;
          border-radius: 30px;
          padding: 5px;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      }

      .inputFileBtn {
        button {
          border: none;
          width: 80px;
          cursor: pointer;
          padding: 6px 0;

          &:focus {
            outline: none;
          }
        }
      }

      .submitForm {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0;

        button {
          border: none;
          box-sizing: border-box;
          border-radius: 3px;
          width: 70px;
          padding: 10px 0;
          color: #191847;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }
      }
    }
}